.RedditPage {

    font-size: xx-large; 
    font-weight: bold; 
    text-align: center; 
    margin: 16px; 


}

.Home {
    font-size: large; 
    font-weight: 600;
    text-align: center;
    margin: 16px; 
}

.Home-Border{


    padding: 16px; /* Equivalent to p-4 in Tailwind */
    border: 2px solid black; /* Custom border (Tailwind uses default styles) */
    border-radius: 16px; /* Equivalent to rounded */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Equivalent to shadow-md */
    border-width: 1em;
}

.Home-Image{

    width: 12;
    height: 12;
    margin: ;
}